@font-face {
    font-family: 'SoDo Sans';
    src: url('SoDoSans-Black.eot');
    src: local('SoDo Sans Black'), local('SoDoSans-Black'),
        url('SoDoSans-Black.eot?#iefix') format('embedded-opentype'),
        url('SoDoSans-Black.woff2') format('woff2'),
        url('SoDoSans-Black.woff') format('woff'),
        url('SoDoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('SoDoSans-Bold.eot');
    src: local('SoDo Sans Bold'), local('SoDoSans-Bold'),
        url('SoDoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('SoDoSans-Bold.woff2') format('woff2'),
        url('SoDoSans-Bold.woff') format('woff'),
        url('SoDoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SoDo Sans';
    src: url('SoDoSans-Regular.eot');
    src: local('SoDo Sans Regular'), local('SoDoSans-Regular'),
        url('SoDoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('SoDoSans-Regular.woff2') format('woff2'),
        url('SoDoSans-Regular.woff') format('woff'),
        url('SoDoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('SoDoSans-Light.eot');
    src: local('SoDo Sans Light'), local('SoDoSans-Light'),
        url('SoDoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('SoDoSans-Light.woff2') format('woff2'),
        url('SoDoSans-Light.woff') format('woff'),
        url('SoDoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('SoDoSans-Thin.eot');
    src: local('SoDo Sans Thin'), local('SoDoSans-Thin'),
        url('SoDoSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('SoDoSans-Thin.woff2') format('woff2'),
        url('SoDoSans-Thin.woff') format('woff'),
        url('SoDoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SoDo Sans';
    src: url('SoDoSans-SemiBold.eot');
    src: local('SoDo Sans SemiBold'), local('SoDoSans-SemiBold'),
        url('SoDoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SoDoSans-SemiBold.woff2') format('woff2'),
        url('SoDoSans-SemiBold.woff') format('woff'),
        url('SoDoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

